*{
    background-color: black;
    color: white;
   
    

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  
}

body{
    margin: 0;
}

span{
    color: red;
}

.nav-flex {
    max-width:fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav{
    padding-top: 10px;
    width: 100%;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0px;
    
}

nav a {
    text-decoration: none; 
    margin-inline: 15px; 
    border-bottom-style: solid;
    border-top-style: solid;
   
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/*  ----------------------------------------------------- */

h1{
    text-transform: uppercase;
    margin-inline:15%;
    font-size: 50px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 35px;
    color: red;
}
p{
    font-size: 30px;
}

.capitulos{
    font-size: 25px;
}

section{
    border-style: solid;
    margin-top: 75px;
    margin-inline: 15%;
    padding-inline:10%;
    padding-bottom: 2%;

}


.contacto{
    color: red;
    font-size: 40px;
    text-align: center;
}


div{
    display: flex;
    justify-content: center;
    
}

footer{
    border-top: 3px solid;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 80px;
    text-align: center;
    font-size: 22px ;
    
}

main{
    background-image: url(./imagenes/body.jpg);
}

.columna{
    margin-top: 50px;
    display: flex;
    
}

.columna > div {
    display: inline;
    padding-inline:3%;
}